################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartMirror_v01/obj
/SmartMirror_v01/bin/x64/Debug
